@import "tailwindcss";

:root {
    @media (max-width: 768px) {
        font-size: 75%;
    }
}

.projectContainer {
    
    text-align: center;

    & .slideDisplay {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-gray-700);
        width: 26rem;

        @media (max-width: 450px) {
            width: 20rem;
        }


        border-radius: 1rem;

        & .slideElements {
            display: flex;
            justify-content: center;
            align-items: center;
            
            & .slides {
    
                display: flex;
                justify-content: center;
                align-items: center;
                height: 26rem;
                width: 26rem;

                @media (max-width: 450px) {
                    height: 20rem;
                    width: 20rem;
                }



                overflow: hidden;
                border-radius: 1rem;
    
                & .slide {
                  
                    height: 100%;
                }
            }
        
            & .slideButton {
        
                & .slideIcon {
                    height: 5rem;

                    @media (max-width: 450px) {
                        height: 4rem;
                    }
                }
        
            }
        }
    
        & .slideLinks {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26rem;
            height: 4rem;

            @media (max-width: 450px) {
                width: 20rem;
                height: 3.5rem;
            }

          
            gap: 1rem;
            & .slideLink {
                height: 3rem;
                width: 11rem;

                @media (max-width: 450px) {
                    height: 2.4rem;
                    width: 8rem;
                }
    
                display: flex;
                justify-content: center;
                align-items: center;
     
                background: var(--color-gray-800);
    
                & .slideLinkIcon {
                    height: 2rem;

                    @media (max-width: 450px) {
                        height: 1.5rem;
                    }
                    /* fill: var(--color-gray-100); */
                }
    
                &:active,
                &:hover {
                    background-color: var(--color-gray-900);
    
                    /* & .slideLinkIcon {
                        fill: var(--color-gray-400);
                    } */
                }
    
                border-radius: 0.2rem;
    
            }
    
        }
    }

}


.activeButton {
    color: var(--color-red-600);
}